body, html {
    height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    -webkit-appearance: none;
}

#outerFrame {
    width: 400px;
    height:600px;
    border-style: none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "result result result result "
    ". clear . delete"
    "n7 n8 n9 divide"
    "n4 n5 n6 time"
    "n1 n2 n3 minus"
    "point n0 equal plus";
}
.element {
    color: black;
    font-size: 2em;
    display: inline-block;
    -webkit-appearance: none;
}
.operator {
    background-color: rgb(253,140,14);
}
.topbar {
    background-color: rgb(200,200,200);
}
.topbar:active {
    background-color: rgb(236,236,236);
}
.number:active {
    background-color: rgb(200,200,200);
}
.operator:active {
    background-color: rgb(191,105,11);
}

#clear {
    grid-column: 1/3;
}
#delete {
    grid-column:3/5;
}
.element {
    border-style: solid;
    border-width: 1px;
}

#result {
    grid-area: result;
    background-color:white;
    font-size: 5em;
    padding-left: 20px;
    border-style: none;
}
#n1 {
    grid-area: n1;
}
#n2 {
    grid-area: n2;
}
#n3 {
    grid-area: n3;
}
#n4 {
    grid-area: n4;
}
#n5 {
    grid-area: n5;
}
#n6 {
    grid-area: n6;
}
#n7 {
    grid-area: n7;
}
#n8 {
    grid-area: n8;
}
#n9 {
    grid-area: n9;
}
#n0 {
    grid-area: n0;
}
#point {
    grid-area: point;
}
#equal {
    grid-area: equal;
}
#plus {
    grid-area: plus;
}
#minus {
    grid-area: minus;
}
#time {
    grid-area: time;
}
#divide {
    grid-area: divide;
}
@media (max-width: 400px) {
    #outerFrame {
        width: 100vw;
        height: 100vh;
    }
    }